name: winget-pkgs check
on:
  repository_dispatch:
    types: [upstream_push]
  workflow_dispatch:

jobs:
  check:
    runs-on: windows-latest
    timeout-minutes: 360
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          repository: KarbitsCode/winget-pkgs
          ref: ${{ github.event.client_payload.branch }}
          path: upstream
          fetch-depth: 0

      - name: Check manifests
        id: detect
        shell: powershell
        continue-on-error: true
        run: |
          cd upstream
          Write-Host "`n===== CheckDependencies (Online) =====`n"
          .\Tools\CheckDependencies.ps1 -Verbose
          
          Write-Host "`n===== CheckDependencies (Offline) =====`n"
          .\Tools\CheckDependencies.ps1 -Offline -Verbose
          
          Write-Host "`n===== CheckDisplayVersions =====`n"
          .\Tools\CheckDisplayVersions.ps1 -Verbose
          
          Write-Host "`n===== CheckMonikers =====`n"
          .\Tools\CheckMonikers.ps1 -Verbose
