name: winget-pkgs check
on:
  repository_dispatch:
    types: [upstream_push]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  check:
    runs-on: windows-latest
    timeout-minutes: 360
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          repository: KarbitsCode/winget-pkgs
          ref: ${{ github.event.client_payload.branch }}
          path: upstream
          fetch-depth: 0

      - name: Check manifests
        id: detect
        shell: powershell
        run: |
          cd upstream
          .\Tools\CheckDependencies.ps1 -Verbose
          .\Tools\CheckDisplayVersions.ps1 -Verbose
          .\Tools\CheckMonikers.ps1 -Verbose
