name: winget-pkgs test
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .gitignore
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  schedule:
    - cron: 0 14 * * *
  workflow_dispatch:
    inputs:
      doTestLinks:
        required: true
        default: true
        type: boolean
      doTestInstall:
        required: true
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test-links:
    runs-on: windows-latest
    timeout-minutes: 120
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Set up python packages
        shell: pwsh
        run: |
          python --version
          & {
            python -m pip install --upgrade pip -vvv
            pip install requests pyyaml mss -vvv
          } | Select-String -NotMatch "Found link|Skipping link"

      - name: Detect changed folder
        id: detect
        shell: pwsh
        run: |
          git fetch origin ${{ github.event.before }} --depth=1
          $changed = git diff --name-only ${{ github.event.before }} ${{ github.sha }}
          $manifestsChanged = $changed | Where-Object { $_ -like "manifests/*" }
          $itselfChanged = $changed | Where-Object { $_ -like "*test.yml" }
          
          if (-not $manifestsChanged) {
            Write-Host "No manifest changes detected"
            if ($env:GITHUB_EVENT_NAME -in @("workflow_dispatch", "schedule") -or $itselfChanged) {
              $folder = "manifests"
            } else {
              $folder = ""
            }
          } else {
            $folder = $manifestsChanged | ForEach-Object { Split-Path $_ -Parent } | Sort-Object -Unique
            Write-Host "Folder changed under manifests: $folder"
          }
          
          echo "folder=$folder" >> $env:GITHUB_OUTPUT

      - name: Run python scripts
        if: github.event_name != 'workflow_dispatch' || inputs.doTestLinks
        shell: pwsh
        run: |
          python .\Tools\TestLinks.py ${{ steps.detect.outputs.folder }}

  test-install:
    runs-on: windows-latest
    timeout-minutes: 360
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Set up python packages
        shell: pwsh
        run: |
          python --version
          & {
            python -m pip install --upgrade pip -vvv
            pip install requests pyyaml mss -vvv
          } | Select-String -NotMatch "Found link|Skipping link"

      - name: Set up winget
        shell: pwsh
        run: |
          function Get-ReleaseTag {
            $releasesAPIResponse = Invoke-RestMethod 'https://api.github.com/repos/microsoft/winget-cli/releases?per_page=100' -Verbose
            if (!$script:Prerelease) {
              $releasesAPIResponse = $releasesAPIResponse.Where({ !$_.prerelease })
            }
            if (![String]::IsNullOrWhiteSpace($script:WinGetVersion)) {
              $releasesAPIResponse = @($releasesAPIResponse.Where({ $_.tag_name -match $('^v?' + [regex]::escape($script:WinGetVersion)) }))
            }
            if ($releasesAPIResponse.Count -lt 1) {
              Write-Output 'No WinGet releases found matching criteria'
              exit 1
            }
            $releasesAPIResponse = $releasesAPIResponse | Sort-Object -Property published_at -Descending
            return $releasesAPIResponse[0].tag_name
          }
          
          Install-Module -Name Microsoft.WinGet.Client -Force -Repository PSGallery -Verbose -AllowClobber
          try {
            Repair-WinGetPackageManager -Version $(Get-ReleaseTag) -Force -Verbose
          } catch {
            Write-Warning "Repair failed: $($_.Exception.Message)"
            if ($_.Exception.Message -match '0x80073D02') {
              if ($_.Exception.Message -match 'ActivityId\]\s+([0-9a-fA-F-]+)') {
                $activityId = $matches[1]
                Write-Host "Found ActivityId: $activityId"
                try {
                  Write-Host "Retrieving AppX logs..."
                  Get-AppPackageLog -ActivityId $activityId | Format0List
                } catch {
                  Write-Warning "Could not retrieve AppX log for $activityId"
                }
              }
            }
            throw $_.Exception
          }
          
          New-Item -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\AppHost" -Force -Verbose | Out-Null
          Set-ItemProperty -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\AppHost" -Name "EnableWebContentEvaluation" -Value 0 -Force -Verbose
          New-Item -Path "HKLM:\SOFTWARE\Policies\Microsoft\Windows\System" -Force -Verbose | Out-Null
          Set-ItemProperty -Path "HKLM:\SOFTWARE\Policies\Microsoft\Windows\System" -Name "EnableSmartScreen" -Value 0 -Force -Verbose
          New-Item "HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Attachments" -Force -Verbose | Out-Null
          Set-ItemProperty "HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Attachments" -Name "SaveZoneInformation" -Value 1 -Force -Verbose
          
          winget --info
          winget source remove msstore

      - name: Detect changed folder
        id: detect
        shell: pwsh
        run: |
          git fetch origin ${{ github.event.before }} --depth=1
          $changed = git diff --name-only ${{ github.event.before }} ${{ github.sha }}
          $manifestsChanged = $changed | Where-Object { $_ -like "manifests/*" }
          $itselfChanged = $changed | Where-Object { $_ -like "*test.yml" }
          
          if (-not $manifestsChanged) {
            Write-Host "No manifest changes detected"
            if ($env:GITHUB_EVENT_NAME -in @("workflow_dispatch") -or $itselfChanged) {
              $folder = "manifests"
            } else {
              $folder = ""
            }
          } else {
            $folder = $manifestsChanged | ForEach-Object { Split-Path $_ -Parent } | Sort-Object -Unique
            Write-Host "Folder changed under manifests: $folder"
          }
          
          echo "folder=$folder" >> $env:GITHUB_OUTPUT

      - name: Run python scripts
        if: github.event_name != 'workflow_dispatch' || inputs.doTestInstall
        shell: pwsh
        run: |
          python .\Tools\TestInstall.py ${{ steps.detect.outputs.folder }}

      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1.4.0
        with:
          age: '1 day'
          skip-recent: 0

      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v5.0.0
        with:
          name: screenshots
          if-no-files-found: warn
          compression-level: 9
          path: |
            Tools/ss/
