name: winget-pkgs test
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .gitignore
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  schedule:
    - cron: 0 14 * * *
  workflow_dispatch:
    inputs:
      doTestLinks:
        required: true
        default: true
        type: boolean
      doTestInstall:
        required: true
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  detect:
    runs-on: windows-latest
    timeout-minutes: 30
    permissions:
      contents: read
      actions: write
    outputs:
      folder: ${{ steps.detect.outputs.folder }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1.4.0
        with:
          age: '1 day'
          skip-recent: 0

      - name: Detect changed folder
        id: detect
        shell: pwsh
        run: |
          git fetch origin ${{ github.event.before }} --depth=1
          $changed = git diff --name-only ${{ github.event.before }} ${{ github.sha }}
          $manifestsChanged = $changed | Where-Object { $_ -like "manifests/*" }
          $itselfChanged = $changed | Where-Object { $_ -like "*test.yml" }
          
          if (-not $manifestsChanged) {
            Write-Output "No manifest changes detected"
            if ($env:GITHUB_EVENT_NAME -in @("workflow_dispatch", "schedule") -or $itselfChanged) {
              $folder = Get-ChildItem "manifests" -Directory | Select-Object -ExpandProperty Name | ForEach-Object { "manifests/$_" }
            } else {
              $folder = @()
            }
          } else {
            $folder = $manifestsChanged | ForEach-Object { (Split-Path $_ -Parent) -replace "\\", "/" } | Sort-Object -Unique
            Write-Output "Folder changed under manifests: $folder"
          }

          $out = ($folder | ConvertTo-Json -Compress) -replace '"', "'"
          if ($out -and (-not ($out.Trim().StartsWith("[") -and $out.Trim().EndsWith("]")))) {
            $out = "[$out]"
          } elseif (-not $out) {
            $out = "['']"
          }
          
          echo "folder=$out" >> $env:GITHUB_OUTPUT

  test-links:
    runs-on: windows-latest
    timeout-minutes: 180
    needs: detect
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Set up python packages
        shell: pwsh
        run: |
          python --version
          & {
            python -m pip install --upgrade pip -vvv
            pip install requests psutil pyyaml mss -vvv
          } | Select-String -NotMatch "Found|Skipping link"

      - name: Prepare manifests list
        id: prepare
        shell: pwsh
        run: |
          $folders = "${{ needs.detect.outputs.folder }}" | ConvertFrom-Json
          $all = Get-ChildItem "manifests" -Directory | Select-Object -ExpandProperty Name | ForEach-Object { "manifests/$_" }
          if (($folders.Count -eq $all.Count) -and ((@($folders | Sort-Object) -join ",") -eq (@($all | Sort-Object) -join ","))) {
            $out = "manifests"
          } else {
            $out = $folders -join " "
          }
          echo "folders=$out" >> $env:GITHUB_OUTPUT

      - name: Run python scripts
        if: github.event_name != 'workflow_dispatch' || inputs.doTestLinks
        shell: pwsh
        run: |
          python .\Tools\TestLinks.py ${{ steps.prepare.outputs.folders }}

  test-install:
    runs-on: windows-latest
    timeout-minutes: 360
    needs: detect
    permissions:
      contents: read
      actions: write
    strategy:
      fail-fast: false
      matrix:
        folders: ${{ fromJson(needs.detect.outputs.folder) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Set up python packages
        shell: pwsh
        run: |
          python --version
          & {
            python -m pip install --upgrade pip -vvv
            pip install requests psutil pyyaml mss -vvv
          } | Select-String -NotMatch "Found|Skipping link"

      - name: Set up winget
        shell: pwsh
        run: |
          New-Item -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\AppHost" -Force -Verbose | Out-Null
          Set-ItemProperty -Path "HKCU:\Software\Microsoft\Windows\CurrentVersion\AppHost" -Name "EnableWebContentEvaluation" -Value 0 -Force -Verbose
          New-Item -Path "HKLM:\SOFTWARE\Policies\Microsoft\Windows\System" -Force -Verbose | Out-Null
          Set-ItemProperty -Path "HKLM:\SOFTWARE\Policies\Microsoft\Windows\System" -Name "EnableSmartScreen" -Value 0 -Force -Verbose
          New-Item "HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Attachments" -Force -Verbose | Out-Null
          Set-ItemProperty "HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Attachments" -Name "SaveZoneInformation" -Value 1 -Force -Verbose
          
          .\Tools\SetupWinGet.ps1
          winget --info
          winget source reset --force
          winget source list

      - name: Run python scripts
        if: github.event_name != 'workflow_dispatch' || inputs.doTestInstall
        shell: pwsh
        run: |
          python .\Tools\TestInstall.py ${{ matrix.folders }}

      - name: Prepare artifact name
        id: artifact
        if: always()
        shell: pwsh
        run: |
          $name = "${{ matrix.folders }}" -replace "manifests/", "" -replace "[\\/]", "-"
          echo "artifact_name=$name" >> $env:GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: screenshots-${{ steps.artifact.outputs.artifact_name }}
          if-no-files-found: ignore
          compression-level: 9
          path: |
            Tools/ss/
